.container {
  background-color: #9acd3287;

  .lazy-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    img {
      width: 50%;
    }
  }
}

@media (max-width: 800px) {
  .lazy-img {
    flex-direction: column;

    img {
      width: 100%;
    }
  }
}
