<div class="container">
  <div class="banner-section">
    <img src="./assets/banner.jpg" alt="front" width="100%" loading="eager">
  </div>
  <div style="margin:10px auto; text-align: center; "><h2>Lazily Loaded Images</h2></div>
  <div class="lazy-img">
    <img src="./assets/img1.jfif" alt="img1"  loading="lazy">
    <img src="./assets/img2.jfif" alt="img2"  loading="lazy">
    <img src="./assets/img3.jfif" alt="img3"  loading="lazy">
    <img src="./assets/img4.jfif" alt="img4"  loading="lazy">
    <img src="./assets/img5.jfif" alt="img5"  loading="lazy">
    <img src="./assets/img6.jfif" alt="img6"  loading="lazy">
  </div>
</div>
