<div class="main-block">
  <header>
    <div class="links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/auth" routerLinkActive="active">Auth</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <div class="avatar" *ngIf="this.user !== ''" (click)="logout()">{{this.user.charAt(0)}}</div>
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

